[submodule "lib/qm-vamp-plugins"]
	path = lib/qm-vamp-plugins
	url = git@github.com:philippReist/qm-vamp-plugins.git
[submodule "lib/libsndfile"]
	path = lib/libsndfile
	url = https://github.com/erikd/libsndfile.git
[submodule "lib/taglib"]
	path = lib/taglib
	url = https://github.com/taglib/taglib.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
