name: Windows Build Test

on: [pull_request]

jobs:
  build:
    name: Build on ${{ matrix.os }} with Qt ${{ matrix.qt_version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['windows-2019']
        qt_version: ['5.12.6', '5.12.9', '5.15.2']

    steps:
    - name: Install Python 3.7 version
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
        architecture: 'x64'

    - name: Install Qt ${{ matrix.qt_version }}
      uses: jurplel/install-qt-action@v2
      with:
        version: ${{ matrix.qt_version }}
        target: desktop

    - name: Checkout
      uses: actions/checkout@v2

    - name: Update git submodules
      run: |
        git submodule update --init --recursive

    - name: Configure & Build
      run: |
        mkdir build
        cd build/
        cmake -DCMAKE_PREFIX_PATH="${Qt5_Dir}" -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 16 2019" ../
        & 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe' .\dancebotsEditor.sln /p:Configuration=Release /p:Platform=x64 /m

    # - name: Deploy
    #   run: |
    #     cd build\gui\Release\
    #     "${Qt5_Dir}\bin\windeployqt.exe" .\dancebotsEditor.exe --qmldir ..\..\..\gui  --no-translations --release
    #     cd 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\'
    #     ls
    #     cp 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\14.24.28127\x64\Microsoft.VC142.CRT\msvcp140.dll' .
    #     cp 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\14.24.28127\x64\Microsoft.VC142.CRT\vcruntime140.dll' .
    #     cp 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Redist\MSVC\14.24.28127\x64\Microsoft.VC142.CRT\vcruntime140_1.dll' .
